<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.erp.yangtao.dao.MaterielMapper" >
  <resultMap id="BaseResultMap" type="com.accp.erp.yangtao.pojo.Materiel" >
    <result column="Matid" property="matid" jdbcType="VARCHAR" />
    <result column="Matname" property="matname" jdbcType="VARCHAR" />
    <result column="Matspec" property="matspec" jdbcType="VARCHAR" />
    <result column="Mattypeid" property="mattypeid" jdbcType="VARCHAR" />
    <result column="Mattypename" property="mattypename" jdbcType="VARCHAR" />
    <result column="Matadviceprice" property="matadviceprice" jdbcType="DECIMAL" />
    <result column="Matadvicepricea" property="matadvicepricea" jdbcType="DECIMAL" />
    <result column="Matadvicepriceb" property="matadvicepriceb" jdbcType="DECIMAL" />
    <result column="Matadvicepricec" property="matadvicepricec" jdbcType="DECIMAL" />
    <result column="Matadvicepriced" property="matadvicepriced" jdbcType="DECIMAL" />
    <result column="Matadvicepricee" property="matadvicepricee" jdbcType="DECIMAL" />
    <result column="Matstandardprice" property="matstandardprice" jdbcType="DECIMAL" />
    <result column="Matshape" property="matshape" jdbcType="VARCHAR" />
    <result column="Matifduty" property="matifduty" jdbcType="INTEGER" />
    <result column="Matdutyrate" property="matdutyrate" jdbcType="DECIMAL" />
    <result column="Matstockaheaddate" property="matstockaheaddate" jdbcType="INTEGER" />
    <result column="Matmainafford" property="matmainafford" jdbcType="VARCHAR" />
    <result column="Matmainaffordid" property="matmainaffordid" jdbcType="VARCHAR" />
    <result column="Matgawpdate" property="matgawpdate" jdbcType="INTEGER" />
    <result column="Matstopdate" property="matstopdate" jdbcType="DATE" />
    <result column="Matremark" property="matremark" jdbcType="VARCHAR" />
    <result column="Matunit" property="matunit" jdbcType="VARCHAR" />
    <result column="Safetyone" property="safetyone" jdbcType="VARCHAR" />
    <result column="Safetytwo" property="safetytwo" jdbcType="VARCHAR" />
    <result column="Enable" property="enable" jdbcType="INTEGER" />
    <result column="Extend0" property="extend0" jdbcType="VARCHAR" />
    <result column="Extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="Extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="Extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="Extend4" property="extend4" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.accp.erp.yangtao.pojo.Materiel" >
    insert into materiel (Matid, Matname, Matspec, 
      Mattypeid, Mattypename, Matadviceprice, 
      Matadvicepricea, Matadvicepriceb, Matadvicepricec, 
      Matadvicepriced, Matadvicepricee, Matstandardprice, 
      Matshape, Matifduty, Matdutyrate, 
      Matstockaheaddate, Matmainafford, Matmainaffordid, 
      Matgawpdate, Matstopdate, Matremark, 
      Matunit, Safetyone, Safetytwo, 
      Enable, Extend0, Extend1, 
      Extend2, Extend3, Extend4
      )
    values (#{matid,jdbcType=VARCHAR}, #{matname,jdbcType=VARCHAR}, #{matspec,jdbcType=VARCHAR}, 
      #{mattypeid,jdbcType=VARCHAR}, #{mattypename,jdbcType=VARCHAR}, #{matadviceprice,jdbcType=DECIMAL}, 
      #{matadvicepricea,jdbcType=DECIMAL}, #{matadvicepriceb,jdbcType=DECIMAL}, #{matadvicepricec,jdbcType=DECIMAL}, 
      #{matadvicepriced,jdbcType=DECIMAL}, #{matadvicepricee,jdbcType=DECIMAL}, #{matstandardprice,jdbcType=DECIMAL}, 
      #{matshape,jdbcType=VARCHAR}, #{matifduty,jdbcType=INTEGER}, #{matdutyrate,jdbcType=DECIMAL}, 
      #{matstockaheaddate,jdbcType=INTEGER}, #{matmainafford,jdbcType=VARCHAR}, #{matmainaffordid,jdbcType=VARCHAR}, 
      #{matgawpdate,jdbcType=INTEGER}, #{matstopdate,jdbcType=DATE}, #{matremark,jdbcType=VARCHAR}, 
      #{matunit,jdbcType=VARCHAR}, #{safetyone,jdbcType=VARCHAR}, #{safetytwo,jdbcType=VARCHAR}, 
      #{enable,jdbcType=INTEGER}, #{extend0,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, #{extend4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.erp.yangtao.pojo.Materiel" >
    insert into materiel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="matid != null" >
        Matid,
      </if>
      <if test="matname != null" >
        Matname,
      </if>
      <if test="matspec != null" >
        Matspec,
      </if>
      <if test="mattypeid != null" >
        Mattypeid,
      </if>
      <if test="mattypename != null" >
        Mattypename,
      </if>
      <if test="matadviceprice != null" >
        Matadviceprice,
      </if>
      <if test="matadvicepricea != null" >
        Matadvicepricea,
      </if>
      <if test="matadvicepriceb != null" >
        Matadvicepriceb,
      </if>
      <if test="matadvicepricec != null" >
        Matadvicepricec,
      </if>
      <if test="matadvicepriced != null" >
        Matadvicepriced,
      </if>
      <if test="matadvicepricee != null" >
        Matadvicepricee,
      </if>
      <if test="matstandardprice != null" >
        Matstandardprice,
      </if>
      <if test="matshape != null" >
        Matshape,
      </if>
      <if test="matifduty != null" >
        Matifduty,
      </if>
      <if test="matdutyrate != null" >
        Matdutyrate,
      </if>
      <if test="matstockaheaddate != null" >
        Matstockaheaddate,
      </if>
      <if test="matmainafford != null" >
        Matmainafford,
      </if>
      <if test="matmainaffordid != null" >
        Matmainaffordid,
      </if>
      <if test="matgawpdate != null" >
        Matgawpdate,
      </if>
      <if test="matstopdate != null" >
        Matstopdate,
      </if>
      <if test="matremark != null" >
        Matremark,
      </if>
      <if test="matunit != null" >
        Matunit,
      </if>
      <if test="safetyone != null" >
        Safetyone,
      </if>
      <if test="safetytwo != null" >
        Safetytwo,
      </if>
      <if test="enable != null" >
        Enable,
      </if>
      <if test="extend0 != null" >
        Extend0,
      </if>
      <if test="extend1 != null" >
        Extend1,
      </if>
      <if test="extend2 != null" >
        Extend2,
      </if>
      <if test="extend3 != null" >
        Extend3,
      </if>
      <if test="extend4 != null" >
        Extend4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="matid != null" >
        #{matid,jdbcType=VARCHAR},
      </if>
      <if test="matname != null" >
        #{matname,jdbcType=VARCHAR},
      </if>
      <if test="matspec != null" >
        #{matspec,jdbcType=VARCHAR},
      </if>
      <if test="mattypeid != null" >
        #{mattypeid,jdbcType=VARCHAR},
      </if>
      <if test="mattypename != null" >
        #{mattypename,jdbcType=VARCHAR},
      </if>
      <if test="matadviceprice != null" >
        #{matadviceprice,jdbcType=DECIMAL},
      </if>
      <if test="matadvicepricea != null" >
        #{matadvicepricea,jdbcType=DECIMAL},
      </if>
      <if test="matadvicepriceb != null" >
        #{matadvicepriceb,jdbcType=DECIMAL},
      </if>
      <if test="matadvicepricec != null" >
        #{matadvicepricec,jdbcType=DECIMAL},
      </if>
      <if test="matadvicepriced != null" >
        #{matadvicepriced,jdbcType=DECIMAL},
      </if>
      <if test="matadvicepricee != null" >
        #{matadvicepricee,jdbcType=DECIMAL},
      </if>
      <if test="matstandardprice != null" >
        #{matstandardprice,jdbcType=DECIMAL},
      </if>
      <if test="matshape != null" >
        #{matshape,jdbcType=VARCHAR},
      </if>
      <if test="matifduty != null" >
        #{matifduty,jdbcType=INTEGER},
      </if>
      <if test="matdutyrate != null" >
        #{matdutyrate,jdbcType=DECIMAL},
      </if>
      <if test="matstockaheaddate != null" >
        #{matstockaheaddate,jdbcType=INTEGER},
      </if>
      <if test="matmainafford != null" >
        #{matmainafford,jdbcType=VARCHAR},
      </if>
      <if test="matmainaffordid != null" >
        #{matmainaffordid,jdbcType=VARCHAR},
      </if>
      <if test="matgawpdate != null" >
        #{matgawpdate,jdbcType=INTEGER},
      </if>
      <if test="matstopdate != null" >
        #{matstopdate,jdbcType=DATE},
      </if>
      <if test="matremark != null" >
        #{matremark,jdbcType=VARCHAR},
      </if>
      <if test="matunit != null" >
        #{matunit,jdbcType=VARCHAR},
      </if>
      <if test="safetyone != null" >
        #{safetyone,jdbcType=VARCHAR},
      </if>
      <if test="safetytwo != null" >
        #{safetytwo,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="extend0 != null" >
        #{extend0,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        #{extend4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>